*.tmp
calendar.*
bibliometrics*.csv
scholar*.csv
scopus.qry
cpc.csv
secretaria.csv
scopus-works.csv
suc-dis-*.csv.xz
suc-dis-ppgcc.csv
discentes-augmented.csv
socio.csv.*
empresa.csv.*
capg_pdfs/
capg-cnpj+cpf.csv
capg-cnpj-details.csv
